name: Java CI with Gradle
on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Build with Gradle Wrapper
      run: ./gradlew build
      env:
        ORG_FAMILYDIRECTORY_HOSTED_ZONE_NAME: example.com
        ORG_FAMILYDIRECTORY_AMPLIFY_REPOSITORY_NAME: FamilyDirectoryUI
        ORG_FAMILYDIRECTORY_AMPLIFY_REPOSITORY_OWNER: ${{ github.repository_owner }}
        ORG_FAMILYDIRECTORY_AMPLIFY_REPOSITORY_OAUTH_TOKEN: fake_token
        AWS_ACCOUNT_ID: 000000000000
        AWS_REGION: us-east-1
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'corretto'
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v5
